<!-- image slider -->
<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        {% for i in crousal %}

        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  {% comment %} <h1 class="display-2 text-uppercase text-dark pb-5"></h1> {% endcomment %}
                  <h1 class="display-2 text-uppercase text-dark pb-5">{{i.title}}</h1>

                  <li class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</li>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder">
                  <a href="{{i.get_absolute_url}}"><img src="{{i.img.url}}" style="width:100vw;max-width: 47vw;height:800px;" alt="banner"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
      <svg class="chevron-left">
        <use xlink:href="#chevron-left" />
      </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
      <svg class="chevron-right">
        <use xlink:href="#chevron-right" />
      </svg>
    </div>
  </section>
  <!-- end slider -->