{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/all.css">
<div class="row infinite-container">
  {% for i in posts %}
  <div class="col-md-3 col-sm-6 infinite-item">
    <div class="product-grid">
      <div class="product-image">
        <a href="{% url 'pro-det' slug=i.slug %}" class="image">
          <img class="pic-1" src="{{i.p_image.url}}">
        </a>
        {% if i.is_offer %}
        <span class="product-new-label">Offer</span>
        {% endif %}
        <ul class="product-links">
          <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
          <li><a href="{% url 'pro-det' slug=i.slug %}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
        </ul>
        {% if i.is_offer %}
        <div class="price" style="color:red;">₹ {{i.offer_price}}</div>
        {% else %}
        <div class="price">₹ {{i.offer_price}}</div>
        {% endif %}
        {% comment %} <div style="text-decoration-line: line-through;">₹ {{i.p_price}}</div>
        {% else %}
        <div class="price">₹{{i.p_price}}</div>
        {% endif %} {% endcomment %}
      </div>
      <div class="product-content">
        <h3 class="title"><a href="{% url 'pro-det' slug=i.slug %}">{{i.p_name|slice:20}}</a></h3>
        <ul class="rating">
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="fas fa-star"></li>
          <li class="fas fa-star disable"></li>
          <li class="fas fa-star disable"></li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %}
<div class="d-flex justify-content-center" style="display:none;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/infinite.min.js"></script>
<script src="/static/js/jquery-2.2.4.min.js"></script>



<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    handler: function(direction) {},
    offset: 'bottom-in-view',
    onBeforePageLoad: function() {
      $('.spinner-border').show();
    },
    onAfterPageLoad: function() {
      $('.spinner-border').hide();
    }
  });
</script>

{% endblock %}