<!-- product section -->
<section id="smart-watches" class="product-store padding-large position-relative">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Products</h2>
        <div class="btn-right">
          <a href="{% url 'allproducts' %}" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>

      <div class="swiper product-watch-swiper">
        <div class="swiper-wrapper" >
          {%for i in products%}

          <div class="swiper-slide">
            <div class="product-card position-relative">
              <div class="image-holder">
                <img src="{{i.p_image}}" alt="product-item" class="img-fluid">
              </div>
              <div class="cart-concern position-absolute">
                <div class="cart-button d-flex">
                  <a href="{% url 'pro-det' slug=i.slug %}" class="btn btn-medium btn-black">Buy<svg
                      class="cart-outline">
                      <use xlink:href="#cart-outline"></use>
                    </svg></a>
                </div>
              </div>
              <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                <h3 class="card-title text-uppercase" >
                  <a href="#">{{i.p_name|slice:16}}..</a>
                </h3>
                <span class="item-price text-primary">₹ {{i.p_price}}</span>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>
<!-- end product section -->